Repository Marujo15/Alpha_Combat, pull requests merged in 2024-11, with the labels that each got.

#9 Matches route
  backend/controllers/matchController.js
  backend/repositories/leaderboardRepository.js
  backend/repositories/matchRepository.js
  backend/routes/matchRoutes.js
  backend/services/matchServices.js
Labels: backend

#10 Feat: organizes basic frontend files
  frontend/src/App.css
  frontend/src/App.jsx
  frontend/src/index.css
  frontend/src/main.jsx
  frontend/src/pages/GamePage/GamePage.css
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/LandingPage/LandingPage.css
  frontend/src/pages/LandingPage/LandingPage.jsx
  frontend/src/pages/LoginPage/LoginPage.css
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegisterPage/RegisterPage.css
  frontend/src/pages/RegisterPage/RegisterPage.jsx
  frontend/src/pages/RoomsPage/RoomsPage.css
  frontend/src/pages/RoomsPage/RoomsPage.jsx
Labels: frontend

#11 Feat: Implements user context
  frontend/src/context/UserContext.jsx
Labels: frontend

#12 Input component
  frontend/src/App.css
  frontend/src/components/Input/Input.css
  frontend/src/components/Input/Input.jsx
  frontend/src/index.css
Labels: frontend

#13 Feat: adds loginpage, form component and logo component
  frontend/src/App.jsx
  frontend/src/assets/.gitkeep
  frontend/src/assets/logo-image.png
  frontend/src/components/Button/Button.css
  frontend/src/components/Button/Button.jsx
  frontend/src/components/Form/Form.css
  frontend/src/components/Form/Form.jsx
  frontend/src/components/Input/Input.css
  frontend/src/components/Logo/Logo.css
  frontend/src/components/Logo/Logo.jsx
  frontend/src/pages/LandingPage/LandingPage.css
  frontend/src/pages/LandingPage/LandingPage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
Labels: frontend

#15 Feat: implements register function to register page
  frontend/src/pages/RegisterPage/RegisterPage.css
  frontend/src/pages/RegisterPage/RegisterPage.jsx
Labels: frontend

#23 Matches route
  backend/controllers/leaderboardController.js
  backend/controllers/matchController.js
  backend/init.sql
  backend/repositories/leaderboardRepository.js
  backend/repositories/matchRepository.js
  backend/services/leaderboardService.js
  backend/services/matchServices.js
  frontend/package-lock.json
Labels: backend

#24 Fix: Implements users leaderboards, improves tutorial styling and fix…
  backend/controllers/authController.js
  backend/repositories/leaderboardRepository.js
  frontend/src/components/Logo/Logo.css
  frontend/src/context/UserContext.jsx
  frontend/src/pages/LoginPage/LoginPage.css
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RankingPage/RankingPage.css
  frontend/src/pages/RankingPage/RankingPage.jsx
  frontend/src/pages/RegisterPage/RegisterPage.jsx
  frontend/src/pages/TutorialPage/TutorialPage.css
  frontend/src/pages/TutorialPage/TutorialPage.jsx
  frontend/src/utils/.gitkeep
  frontend/src/utils/leaderboardApi.jsx
Labels: frontend

#26 Fix: Adjusts classnames
  frontend/public/assets/green-btn-ready-hover.png
  frontend/public/assets/green-btn-ready.png
  frontend/public/assets/red-btn-leave-hover.png
  frontend/public/assets/red-btn-leave.png
  frontend/public/assets/yellow-btn-start-match-hover.png
  frontend/public/assets/yellow-btn-start-match.png
  frontend/src/components/Form/Form.css
  frontend/src/pages/DashboardPage/DashboardPage.css
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/LandingPage/LandingPage.css
  frontend/src/pages/LandingPage/LandingPage.jsx
  frontend/src/pages/LoginPage/LoginPage.css
  frontend/src/pages/RankingPage/RankingPage.jsx
  frontend/src/pages/TutorialPage/TutorialPage.css
  frontend/src/pages/WaitingPage/WaitingPage.css
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend

#27 Enter new match
  backend/middlewares/auth.js
  backend/network/game/matches/enterNewMatch.js
  backend/network/game/onMessage.js
  backend/network/game/rooms/createNewRoom.js
  backend/network/index.js
  frontend/src/App.jsx
  frontend/src/context/UserContext.jsx
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#28 Feature: implements necessary features to enter existing room
  backend/network/game/onMessage.js
  backend/network/game/rooms/setPlayersWaitingList.js
  frontend/src/App.jsx
  frontend/src/context/RoomContext.jsx
  frontend/src/context/WaitingRoomContext.jsx
  frontend/src/pages/DashboardPage/DashboardPage.css
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegisterPage/RegisterPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#31 Feature: begin enter game flow
  backend/network/game/onMessage.js
  backend/network/game/rooms/deteleRoom.js
  backend/network/game/rooms/setPlayersWaitingList.js
  frontend/public/assets/Lock.svg
  frontend/public/assets/Lock_Open.svg
  frontend/src/App.jsx
  frontend/src/components/ProtectedRoute/ProtectedRoute.jsx
  frontend/src/context/WaitingRoomContext.jsx
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/LoginPage/LoginPage.css
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RankingPage/RankingPage.css
  frontend/src/pages/RankingPage/RankingPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.css
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#34 Feat: implements logout function
  frontend/src/pages/RegisterPage/RegisterPage.jsx
Labels: frontend

#38 Fix: Adjusts protected route
  frontend/src/components/ProtectedRoute/ProtectedRoute.jsx
Labels: frontend

#39 Feat: Changes users id by users name on waiting list
  backend/network/game/onMessage.js
  backend/network/game/rooms/createNewRoom.js
  backend/network/game/rooms/setPlayersWaitingList.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#42 Game v3
  backend/network/game/onMessage.js
  backend/network/index.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#45 Fix: adjusts login loop, logout on register page and music when time…
  frontend/src/components/Clock/Clock.css
  frontend/src/components/Clock/Clock.jsx
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.css
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/GamePage/rascunho1.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegisterPage/RegisterPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend

#46 fix: blue tank doesn't render wrong anymore
  backend/app.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/GamePage/rascunho1.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#47 Fix: removes player from waiting list when leaves page
  backend/network/game/onMessage.js
  backend/network/game/rooms/setPlayersWaitingList.js
  frontend/src/pages/TutorialPage/TutorialPage.css
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend

#48 Fix: keep waiting player on screen when updating page
  frontend/src/context/RoomContext.jsx
  frontend/src/pages/DashboardPage/DashboardPage.jsx
Labels: frontend

#49 Fix: changes way to save user info when logging in with google
  frontend/src/pages/LoginPage/LoginPage.jsx
Labels: frontend

#52 Fix: Adds sound to register button
  frontend/src/pages/LoginPage/LoginPage.css
  frontend/src/pages/LoginPage/LoginPage.jsx
Labels: frontend

#51 Fix: changes map size and adds inferior wall to limite area
  backend/network/index.js
Labels: frontend

#50 Fix: adds sound to bullet shot, player explosion and player respawn
  frontend/public/sounds/explosion.mp3
  frontend/public/sounds/mouse-click.mp3
  frontend/public/sounds/respawn.mp3
  frontend/public/sounds/ricochet.mp3
  frontend/public/sounds/shot.mp3
  frontend/src/components/Button/Button.jsx
  frontend/src/pages/GamePage/GamePage.jsx
Labels: frontend

#53 Fix: adjusts login inputs bug
  frontend/src/pages/LoginPage/LoginPage.jsx
Labels: frontend

#54 Game v5
  backend/network/game/onMessage.js
  backend/network/game/rooms/matchServices.js
  backend/network/game/rooms/roomServices.js
  backend/network/game/rooms/setPlayersWaitingList.js
  backend/network/index.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#56 Fix: shows password criteria on register page
  frontend/src/pages/RegisterPage/RegisterPage.css
  frontend/src/pages/RegisterPage/RegisterPage.jsx
Labels: frontend

#58 Game v5
  backend/network/game/onMessage.js
  backend/network/game/rooms/matchServices.js
  backend/network/game/rooms/roomServices.js
  backend/network/index.js
  frontend/src/pages/DashboardPage/DashboardPage.jsx
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/GamePage/rascunho1.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/SetPass/SetPass.jsx
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend, backend

#57 Fix: adjusts necessary to deploy
  backend/app.js
  backend/server.js
  frontend/src/pages/SetPass/SetPass.css
  frontend/src/pages/SetPass/SetPass.jsx
Labels: frontend, backend

#60 Front bugs
  frontend/public/assets/green-war-tank 2.png
  frontend/public/assets/orange-war-tank 1.png
  frontend/public/assets/yellow-btn-copy-id-hover.png
  frontend/public/assets/yellow-btn-copy-id.png
  frontend/public/assets/yellow-btn-copy-url-hover.png
  frontend/public/assets/yellow-btn-copy-url.png
  frontend/src/pages/GamePage/GamePage.css
  frontend/src/pages/GamePage/GamePage.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/RegisterPage/RegisterPage.jsx
  frontend/src/pages/WaitingPage/WaitingPage.css
  frontend/src/pages/WaitingPage/WaitingPage.jsx
Labels: frontend

#62 fix: brackets in wrong place
  frontend/src/pages/GamePage/GamePage.jsx
Labels: frontend
